body {
  margin: 0;
}

p{
  margin: 0;
}

.todo-Main-Container{
  align-content: center;
  display: flex;
  flex-direction: column;
}

.todo-List-Item-Container{
  text-align: center;
  padding: 5px;
  width: 250px;
}
.todo-List-Functional-Container{
  display: flex;
  flex-direction: column;
}

.todo-Form-Container{
  display: inline-block;
}

.todo-List-Item-Container{
  display: flex;
  flex-direction: row;
}

.paper-Container{
  display: inline-block;
 margin: 10px;
  width: 250px;
}

